
<div class="container" style="margin-left: 50px; margin-top: 120px;">
	<div class="mt-2">
		<div class="jumbotron mx-2">
			<h1 class="display-4" style="font-family: 'Bookman Old Style'; font-size: 80px;">Pratiksha Mishra</h1>
			<b class="lead color-change-text">Full Stack .Net Developer</b>
			<hr class="" >
			<p style="font-size: 20px;">
				A dedicated and results-driven .NET Developer with 2 years of experience in building dynamic web applications and enterprise solutions. Proficient in C#, ASP.NET, and SQL Server, with a strong focus on delivering high-quality, scalable code. Skilled in the full software development life cycle, from requirements gathering and design to deployment and support. Passionate about learning new technologies and solving complex technical challenges to drive business success.
</p>
			<div class="social-icons">
				<a href="https://in.linkedin.com/" target="_blank">
					<i class="fab fa-linkedin" style="font-size: 40px;"></i>
				</a>
				<a href="https://www.facebook.com/" target="_blank">
					<i class="fab fa-facebook" style="font-size: 40px;"></i>
				</a>
				<a href="https://www.twitter.com/" target="_blank">
					<i class="fab fa-twitter" style="font-size: 40px;"></i>
				</a>
			</div>
			<button (click)="downloadResume()" class="mt-2 btn btn-outline-dark btn-sm">Download Resume</button>

			
		</div>
	</div>
</div>

<app-about></app-about>
<app-resume></app-resume>
<app-skills></app-skills>
<app-projects></app-projects>
<app-footer></app-footer>


