
.social-icons {
    display: flex;
    gap: 15px; /* Space between the icons */
}

    .social-icons a {
        color: #000;
        font-size: 24px;
        text-decoration: none;
    }

        .social-icons a:hover {
            color: #0077b5; /* You can add hover effect if needed */
        }

.color-change-text {
    font-size: 24px;
    animation: colorChange 4s linear infinite;
}

@keyframes colorChange {
    0%

{
    color: red;
}

25% {
    color: blue;
}

50% {
    color: green;
}

75% {
    color: orange;
}

100% {
    color: red;
}

}

/* Typing effect */
.typing-effect {
  font-family: 'Courier', monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  width: fit-content; /* Let it fit the content */
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* Typing keyframes */
@keyframes typing {
  from {
    width: 0; /* Start from zero width */
  }
  to {
    width: 100%; /* Full width of the text */
  }
}

/* Blinking caret effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

