<div class="container">
    <div class="resume">
        <!-- Work Experience Section -->
        <div class="left-section">
            <h2>Work Experience</h2>
            <div class="experience">
                <div class="timeline">
                    <div class="timeline-item">
                        <h3>TEACHING ASSISTANT</h3>
                        <span>Feb 2022 - June 2022</span>
                        <h4>Coding Ninjas</h4>
                        <ul>
                            <li>Mentored over 630+ peers within a 4-month period, facilitating their growth and development</li>
                            <li>Interacted daily with a variety of people, encouraging teamwork and problem-solving related to Python</li>
                            <li>Solved over 1.2k problems, demonstrating strong problem-solving abilities</li>
                            <li>Developed and improved problem-solving, communication, and debugging skills during the internship</li>
                        </ul>
                    </div>

                    <div class="timeline-item">
                        <h3>OPEN SOURCE</h3>
                        <span>May 2023 - August 2023</span>
                        <h4>Girls Script Summer of Code</h4>
                        <ul>
                            <li>Contributed to Crop Foresight Backend, an acclaimed open-source project, fostering interest in open-source development</li>
                            <li>Developed expertise in Python, showcasing proficiency in coding and problem-solving</li>
                            <li>Demonstrated effective teamwork and project management skills in enhancing Crop Foresight Backends functionality</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Education Section -->
        <div class="right-section">
            <h2>Education</h2>
            <div class="education">
                <div class="timeline-item">
                    <h3>B.TECH, COMPUTER SCIENCE & ENGINEERING</h3>
                    <span>2021 - 2025</span>
                    <h4>Lovely Professional University, Phagwara (Punjab)</h4>
                    <p>CGPA: 7.5</p>
                </div>

                <div class="timeline-item">
                    <h3>INTERMEDIATE, CHSC</h3>
                    <span>2019 - 2021</span>
                    <h4>Pragati Higher Secondary School, Odisha</h4>
                    <p>77%</p>
                </div>
            </div>
        </div>
    </div>
</div>